*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Dancing Script', cursive;
}
.container{
    position: relative;
    background: url("../img/bg.jpg") no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: 50% 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
